@import './base-styles.css';

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

#article-body {
    @apply flex flex-col max-w-11/12 lg:max-w-8/12 mx-auto;
    font-family: 'Lora', serif;
    font-size: 1.15rem;
    line-height: 1.25;
    letter-spacing: 0.012em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    h1,
    h2,
    h3 {
        @apply font-serif tracking-wide mt-10 mb-4;
    }

    /**
        * Apply default article's paragraph style
        */
    p {
        @apply my-4 indent-8;
        word-break: normal;
    }

    /* When a paragraph contains only a link, remove the indent */
    p:has(a:first-child) {
        @apply indent-0;
    }

    /**
        * Lists and list items styles
        * Numbering, disc, fonts, etc.
        */
    ul,
    ol {
        word-break: normal;
        @apply list list-inside leading-tight gap-2 card card-border px-7 py-8 bg-neutral/40;

        &:is(ul) {
            @apply list-disc;
        }

        &:is(ol) {
            @apply list-decimal;
        }
    }

    /**
        * Code styles
        */
    .code-toolbar {
        @apply text-xs tracking-wide;

        pre {
            @apply rounded-xl py-3;
        }
    }

    p code,
    li code,
    blockquote code {
        @apply indent-0 px-2 py-0.5 badge badge-neutral font-light text-sm;
    }

    /**
        * Links styles
        */
    a,
    li a,
    p a {
        @apply transition-all duration-250 ease-out;
        @apply link text-sm underline underline-offset-6 leading-none;
        @apply hover:text-accent;

        &::after {
            content: "↗";
            @apply mx-1 opacity-70;
        }
    }

    a,
    li a,
    p a {
        word-break: break-all !important;
    }

    /**
        * Blockquote styles
        */
    blockquote {
        @apply card card-body card-border bg-primary/10 pt-2 pb-6 font-light text-lg leading-tight;

        &::before {
            content: '💬';
            @apply absolute right-2 bottom-2 z-0 text-5xl scale-120 opacity-10 -rotate-y-180;
        }
    }
}