@plugin 'daisyui' {
}

@plugin "daisyui/theme" {
  name: 'purple-squirrel';
  default: false;
  prefersdark: false;
  color-scheme: 'dark';
  --color-base-100: oklch(27.69% 0.0416 322.99);
  --color-base-200: oklch(24.87% 0.038 322.549);
  --color-base-300: oklch(22.2% 0.032 321.607);
  --color-base-content: oklch(85.61% 0.0081 319.447);
  --color-primary: oklch(86.29% 0.0772 183.496);
  --color-primary-content: oklch(17.19% 0.0151 188.022);
  --color-secondary: oklch(74.24% 0.1279 309.755);
  --color-secondary-content: oklch(14.9% 0.0252 308.855);
  --color-accent: oklch(71% 0.202 349.761);
  --color-accent-content: oklch(28% 0.109 3.907);
  --color-neutral: oklch(77.5% 0.044 257.3);
  --color-neutral-content: oklch(28.7% 0.022 252.894);
  --color-info: oklch(54.61% 0.2152 262.881);
  --color-info-content: oklch(95.21% 0.02 262.9);
  --color-success: oklch(50% 0.118 165.612);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(80% 0.114 19.571);
  --color-error-content: oklch(41.2% 0.02 19.6);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
